<div class="vflex g-8 p-4">
  <h2 class="text-center">Admin Content Management System</h2>
  <a href="/logout" class="flex transition hover">Log Out</a>
</div>
<div class="main-item ps flex">
  <div class="card">
    <div class="vflex">
      <h5>Modify Hours</h5>
      <hr class="heading-divider my-3" />
    </div>
    <form action="cms/update-hours" method="POST">
      <div class="vflex">
        <small>Hours must be in 24-hour format</small>
        <div class="vflex g-24 py-3 w-100">
          <div class="input-group" style="max-width: 300px">
            <input
              class="form-control border-rad"
              type="text"
              value="<%= openHour %>"
              id="openHour"
              name="openHour"
              placeholder="e.g. 9:30"
              autocomplete="off" />
            <span class="input-group-text">&mdash;</span>
            <input
              class="form-control border-rad"
              type="text"
              value="<%= closeHour %>"
              id="closeHour"
              name="closeHour"
              placeholder="e.g. 18:00"
              autocomplete="off" />
          </div>
          <div class="res-flex input-group" style="max-width: 500px;">
            <span class="border-rad w-100">Override Message</span>
            <input
              class="form-control border-rad w-100"
              type="text"
              value="<%= overrideMsg %>"
              id="overrideMsg"
              name="overrideMsg"
              placeholder="e.g. Closed on Sunday (Holiday)"
              autocomplete="off" />
          </div>
          <h6>OR</h6>
          <div class="form-check flex g-4">
            <input
              class="form-check-input"
              type="checkbox"
              name="isClosed"
              id="isClosed"
              <% if (!openHour && !closeHour && !overrideMsg) { %> checked <% } %> />
            <label class="form-check-label pt-1">CLOSED</label>
          </div>
        </div>
        <% if (updateSuccess || updateError) { %>
        <div
          class="text-<%= updateSuccess ? 'success' : 'danger' %> text-center border-rad"
          role="alert">
          <%= updateSuccess || updateError %>
        </div>
        <% } %>
        <button
          class="button-3 mt-3"
          type="submit"
          style="width: 200px; padding: 12px">
          Save Hours
        </button>
      </div>
    </form>
  </div>
</div>
<div class="main-item ps flex">
  <div class="card">
    <div class="vflex">
      <h5>Add to Photo Gallery</h5>
      <hr class="heading-divider my-3" />
    </div>
    <form
      action="cms/update-gallery"
      method="POST"
      class="needs-validation"
      novalidate>
      <div class="vflex">
        <div class="vflex w-100">
          <label for="formFile" class="form-label">
            <small>Drag and drop or browse for a file</small>
          </label>
          <input
            class="form-control border-rad"
            type="file"
            style="max-width: 700px"
            required />
        </div>
        <button
          class="button-3 mt-3"
          type="submit"
          style="width: 200px; padding: 12px">
          Upload Photo
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  $('#isClosed').on('change', function () {
    $('#openHour').prop('disabled', this.checked);
    $('#closeHour').prop('disabled', this.checked);
    $('#overrideMsg').prop('disabled', this.checked);
  });
  $('#openHour').prop('disabled', $('#isClosed').prop('checked'));
  $('#closeHour').prop('disabled', $('#isClosed').prop('checked'));
  $('#overrideMsg').prop('disabled', $('#isClosed').prop('checked'));
</script>
