<!-- rates-fees.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('common/head.ejs', { pageTitle: 'Rates & Fees' }); %>
  <body>
    <%- include('common/header.ejs'); %>
    <main class="main">
      <div class="main-item">
        <div class="vflex">
          <h2 class="heading display-5 text-center">
            <span id="year"></span>
            Golf Season
          </h2>
          <p class="text-center text-restrict">
            At Cedar Groves, we are committed to providing a top-notch
            experience at an affordable price. Our rates and fees are designed
            to be affordable for everyone, while still maintaining high quality.
          </p>
          <hr class="heading-divider" />
        </div>
      </div>
      <div class="main-item large full-bleed">
        <div class="rates-wrapper vflex py-3 g-64">
          <% ratesFees.forEach((item, i) => { %>
          <div class="rates-area vflex" style="gap: 48px">
            <h4><%= item.title %></h4>
            <div class="text-img-box res-flex g-64 align-items-start">
              <% if (i % 2 !== 0) { %>
              <div class="flex-eq">
                <img
                  src="https://cedar-groves-assets.s3.us-east-2.amazonaws.com/images/drone-<%= item.image %>.jpg"
                  class="border-rad shadow-2"
                  alt="Golf Image" />
              </div>
              <% } %>
              <div class="vflex flex-eq w-100 g-32">
                <div class="vflex w-100 g-4">
                  <% item.rates.forEach((rate, j) => { %>
                  <div class="flex justify-content-between w-100 px-2">
                    <p><%= rate.desc %></p>
                    <p><%= rate.price %></p>
                  </div>
                  <% if (j !== item.rates.length - 1) { %>
                  <hr class="divider my-2 opacity-25" />
                  <% } %> <% }); %>
                </div>
              </div>
              <% if (i % 2 === 0) { %>
              <div class="flex-eq">
                <img
                  src="https://cedar-groves-assets.s3.us-east-2.amazonaws.com/images/drone-<%= item.image %>.jpg"
                  class="border-rad shadow-2"
                  alt="Golf Image" />
              </div>
              <% } %>
            </div>
          </div>
          <% }); %>
          <div class="vflex">
            <div class="flex justify-content-between w-100">
              <small>Senior &mdash; 60+</small>
              <small>Junior &mdash; 12 & under</small>
            </div>
            <small class="text-center">
              All listed prices include applicable taxes.
            </small>
          </div>
        </div>
      </div>
    </main>
    <%- include('common/footer.html'); %>
  </body>
</html>
